{% extends "base.html" %}

{% block content %}
<!-- Main jumbotron -->
<div class="jumbotron">
    <div class="container">
        <div class="col-md-2">"Visual/Graphic"</div>
        <div class="col-md-10">
            <p>Primatologists are producing incredibly rich data on different primate populations, yet comparative analyses at the species level have failed to make the most use of these data, especially in terms of intraspecific variation. In addition, many comparative studies use older, often erroneous data. To move forward as a field, evolutionary anthropologists need updated databases that account for real trait variation within species. The purpose of the Primate Comparative Variation Database is to provide these data in an accessible and transparent manner.</p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <h2>Information</h2>
                    <ul class="list-unstyled">
                        <li><a title="Project Information" href="/pcs/info">Project Information</a></li>
                        <li><a title="Collaborators" href="/pcs/collaborators">Collaborators</a></li>
                        <li><a title="Methods & Metadata" href="/pcs/methods">Methods & Metadata</a></li>
                        <li><a title="Contact Us" href="/pcs/contact">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h2>Data</h2>
                    <ul class="list-unstyled">
                        <li><a title="Query Data" href="/pcs/query">Query Data</a></li>
                        <li><a title="Archive" href="/pcs/archive">Archive</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h2>Funding</h2>
            <p>We thank the National Science Foundation (BCS-1355902, Biological Anthropology) and Duke University for funding.</p>
        </div>
    </div>
</div> <!-- /container -->
{% endblock %}