{% extends "base.html" %}
{% load scribbler_tags %}

{% block title %} - Information{% endblock %}

{% block content %}
<h1>{% scribble 'info_title' %}Project Information{% endscribble %}</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            {% scribble 'info_goals' %}
            <h2>Motivation and Goals</h2>
            <h3>Quality</h3>
            <ul class="list-unstyled">
                <li>Well studied populations</li>
                <li>Intraspecies variation</li>
                <li>More than means</li>
            </ul>
            <h3>Transparency</h3>
            <ul class="list-unstyled">
                <li>Fully referenced - Annotated papers available upon request</li>
                <li>Clear protocols - Site and Data selction</li>
            </ul>
            <h3>Up-to-date</h3>
            Multiple versions of the data allow:
            <ul class="list-unstyled">
                <li>Fixing of errors</li>
                <li>Addition of missing data</li>
                <li>Addition of new data</li>
            </ul>
            {% endscribble %}
        </div>
        <div class="col-md-6">
            {% scribble 'info_use' %}
            <h2>Suggestions on best use</h2>
            <p>Ut ullamcorper mattis tortor et tempor. Curabitur rutrum pharetra hendrerit. Pellentesque ut tristique nulla. Aliquam consequat elit eget est maximus ultrices. Sed vel libero vitae felis condimentum faucibus. Ut sit amet leo porttitor, aliquam erat ut, mattis mi. Ut semper efficitur mauris, non elementum mi ornare faucibus. Donec sed risus eu ex convallis pharetra. Mauris iaculis consectetur ante quis mollis. Morbi est risus, pharetra ac mauris id, venenatis tincidunt metus. Donec fringilla risus eget nunc posuere vestibulum. Integer tortor risus, bibendum nec pellentesque ac, pellentesque eu dolor. Morbi vulputate dapibus neque eu ullamcorper.</p>
            {% endscribble %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {% scribble 'info_acknowledgements' %}
            <h2>Acknowledgements</h2>
            <p>Mauris semper volutpat ligula eu aliquet. Maecenas quis scelerisque quam, ac pulvinar sem. Praesent ac sagittis orci. Suspendisse potenti. Morbi efficitur libero a semper auctor. Proin dapibus ante ut sagittis finibus. Integer placerat ex ac finibus vehicula. Nam eget laoreet nunc, eu sollicitudin tortor.</p>
            {% endscribble %}
        </div>
        <div class="col-md-6">
            {% scribble 'info_links' %}
            <h2>Other resources/links</h2>
            <ul class="list-unstyled">
                <li><a title="Project Information" href="http://10ktrees.nunn-lab.org/">10ktrees</a></li>
                <li><a title="Collaborators" href="#">Papers on comparative data/standards</a></li>
            </ul>
            {% endscribble %}
        </div>
    </div>
</div>
{% endblock %}
